
<div class="container">
    <div class="row">
        
        <div class="card deep-purple darken-2" >
            <div class="le" >LOGIN FORM</div>
            <br>
        </div>        
                        <div class="input-field col s12">
                            <input type="text" [(ngModel)]="loginform.username" placeholder="Username">
                            <label>Username</label> 
                        </div><br>
                        <div class="input-field col s12">
                            <input type="password" [(ngModel)]="loginform.password" placeholder="Password">
                            <label>Password</label>
                        </div><br>
                        <div class="input-field col s12">
                            <button  class="btn-large deep-purple darken-2 waves-effect waves-purple" style="width:100%;" (click)="login()" >Log IN</button>
                        </div>
                   
                    
       
    
    </div>
</div>