

<div class="container">
    <div class="row">
        
        <div class="card deep-purple darken-2" >
            <div class="le" >SIGNUP FORM</div>
            <br>
        </div>        
                        <div class="input-field col s12">
                            <input type="text" [(ngModel)]="signupform.username" placeholder="Username">
                            <label>Username</label> 
                        </div><br>
                        <div class="input-field col s12">
                            <input type="password" [(ngModel)]="signupform.password" placeholder="Password">
                            <label>Password</label>
                        </div><br>
                        <div class="input-field col s12">
                            <input type="text" [(ngModel)]="signupform.first_name" placeholder="first_name">
                            <label>Password</label>
                        </div><br>
                        <div class="input-field col s12">
                            <input type="text" [(ngModel)]="signupform.last_name" placeholder="last_name">
                            <label>Password</label>
                        </div><br>
                        <div class="input-field col s12">
                            <button  class="btn-large deep-purple darken-2 waves-effect waves-purple" style="width:100%;" (click)="signup()" >SiGN UP</button>
                        </div>
                   
                    